*{
	box-sizing: border-box;
}

main{
	display: flex;
}

.articulo1{background-color: #42EBED; width: 35%; font-size: small;}

.articulo2{background-color: #1A80AB; width: 65%; font-size: medium;}

h1{text-align: center; border-bottom-style: dotted; border-top-style: dotted; border-color: palevioletred; background-color: #16526E; color: white;}

audio{width: 75%; height: 30px; background-color: aquamarine; padding: 5px; border-radius: 10px;}

video{width: 70%; height: 340px; background-color: aquamarine; padding: 20px; border-radius: 10px;}





